@tailwind base;

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../assets/fonts/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/montserrat-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/montserrat-v14-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/montserrat-v14-latin-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/montserrat-v14-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../assets/fonts/montserrat-v14-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/montserrat-v14-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/montserrat-v14-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/montserrat-v14-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/montserrat-v14-latin-800.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../assets/fonts/roboto-v20-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/roboto-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("../assets/fonts/roboto-v20-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-100.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../assets/fonts/roboto-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v20-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/roboto-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v20-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}

@tailwind components;

@tailwind utilities;

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease;
}

.accordion-title-radio:not(:checked) + .accordion-content {
  max-height: 0;
}

@responsive {
  .head-section-lg {
    clip-path: polygon(2% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .head-section-sm {
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
